@model RegisterVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/css/login.css" />
  <title>Register</title>
</head>

<body>
  <section class="area-login">
    <h1>Register</h1>
    <div class="login">
      <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Register">
        <input asp-for="FullName" placeholder="FullName" autofocus />
        <input asp-for="Username" placeholder="Username" autofocus />
        <input asp-for="Password" placeholder="Password" autofocus />
        <input asp-for="ConfirmPassword" placeholder="ConfirmPassword" autofocus />
        <input asp-for="Image" placeholder="Image" autofocus />
        <span asp-validation-for="Image" ></span>
        <div asp-validation-summary="ModelOnly">

        </div>
        <input type="submit" value="Register" />
      </form>
      <p>Do you have an account? <a asp-action="LogIn">Log In</a></p>
    </div>
  </section>
</body>

</html>